<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wazaabi.ide.ui.editors.WazaabiTreeEditor"
            contributorClass="org.eclipse.wazaabi.ide.ui.editors.WazaabiTreeEditorActionBarContributor"
            extensions="ui"
            icon="icons/wazaabi.png"
            id="org.eclipse.wazaabi.ide.ui.editors.WazaabiTreeEditor"
            name="Wazaabi Tree Editor">
      </editor>
   </extension>

<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="Wazaabi UI Model"
        delegate="org.eclipse.wazaabi.ide.launchconfiguration.WazaabiUIModelLaunchConfigurationDelegate"
        modes="run, debug"               
        id="org.eclipse.wazaabi.launching.wazaabiApplication">        
        public="true"
        sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
        sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>    
	</launchConfigurationType>
</extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.eclipse.wazaabi.launching.wazaabiApplication"
        class="org.eclipse.wazaabi.ide.launchconfiguration.WazaabiLaunchConfigurationTabGroup"
        id="org.eclipse.wazaabi.ide.launchconfiguration.WazaabiLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
</extension>

   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="org.eclipse.wazaabi.ide.ui.editors.actions.DropActionDelegate"
            id="org.eclipse.wazaabi.ide.ui.editors.actions.DropActionDelegate">
      </action>
   </extension>

   

</plugin>
