<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.wazaabi.engine.swt.addressbook.AddressBookView"
            icon="icons/person.png"
            id="org.eclipse.wazaabi.engine.swt.commons.addressbook.AddressBookView"
            name="AddressBook View">
      </view>
   </extension>

</plugin>
