<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <editor
            descriptorClass="org.eclipse.e4.tool.emf.ui.wazaabi.WazaabiPartEditorDescriptor">
      </editor>
   </extension>

</plugin>
